<div class="app">
  <!-- Componente Navbar -->
  <app-navbar></app-navbar>

  <!-- Componente Carousel -->
  <div class="app-carousel">
    <carousel [isAnimated]="true" [interval]="slideInterval" [(activeSlide)]="activeSlideIndex">
      <!-- Usando *ngFor para iterar sobre as slides -->
      <slide *ngFor="let slide of slides; let index=index">
        <!-- Imagem do Carousel com texto alternativo descritivo -->
        <img [src]="slide.image" alt="Imagem de {{ slide.text }}" class="carousel-image">
        <div class="carousel-caption">
          <!-- Texto da slide -->
          <h4>{{ slide.text }}</h4>
        </div>
      </slide>
    </carousel>
  </div>

  <!-- Título da página atual -->
  <h2 class="text-center fw-medium text-primary">{{ pageCurrentTitle }}</h2>

  <div>
    <!-- Área de conteúdo principal -->
    <main class="p-5 d-flex flex-colum gap-3">
      <!-- Ponto de saída do roteador para exibir componentes roteados -->
      <router-outlet></router-outlet>
    </main>

    <!-- Rodapé -->
    <footer class="text-center py-3 text-black">
      <!-- Texto do rodapé -->
      <span> Criado por PI-1 007 013 </span>
    </footer>
  </div>
</div>