/* Importing Bootstrap CSS files. */
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '/node_modules/bootswatch/dist/cosmo/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Global styles */
* {
    /* Ensures padding and margin are included in an element's total width and height */
    box-sizing: border-box;
}

html, body {
    /* Make sure html and body elements take up the full height of the viewport */
    height: 100%;
}

:root {
    /* Define primary and secondary colors */
    --primary-color: #95dfae;
    --secondary-color: #eca7e2;
}